/* Artfully masterminded by Kevin Xu <kevin@imkevinxu.com> */

/* -----------------------------------------
   FONT STYLES
----------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic,700italic);

/* -----------------------------------------
   SHARED STYLES
----------------------------------------- */

.fl { float: left; }
.fr { float: right; }
.tl { text-align: left; }
.tr { text-align: right; }
.tc { text-align: center; }
.center { margin: 0 auto; }
.clear { clear: both; }
.block { display: block !important; }
.none { display: none !important; }
.inline-block { display: inline-block !important; }
.error { color: #c60f13; }
.visible { opacity: 1; }
.invisible { opacity: 0; }
.strong { font-weight: 600; }

/* -----------------------------------------
   BASE STYLES
----------------------------------------- */

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #222;
}

/* -----------------------------------------
   OVERRIDE STYLES
----------------------------------------- */

label, input {
    font-weight: 600;
}

input::-webkit-input-placeholder { color: #d5dadd; }
input:-moz-placeholder { color: #d5dadd; }
input:-ms-input-placeholder { color: #d5dadd; }

img::selection, img::-moz-selection {
    background: transparent;
}

input[type="text"][readonly], input[type="password"][readonly], input[type="date"][readonly],
input[type="datetime"][readonly], input[type="email"][readonly], input[type="number"][readonly],
input[type="search"][readonly], input[type="tel"][readonly], input[type="time"][readonly],
input[type="url"][readonly], textarea[readonly] {
    background-color: #DDD;
}

.custom.button {
    background-color: #F03012;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.custom.button:hover {
    background-color: #D82B11;
}

/* -----------------------------------------
   FOOTER STYLES
----------------------------------------- */

footer {
    background-color: #0f96b6;
    height: 100px;
    padding: 20px 0 0;
}

footer h3 {
    font-weight: 300;
    color: #FFF;
    margin: 0;
}

/* -----------------------------------------
   LOGIN STYLES
----------------------------------------- */

#login h1 {
    font-weight: 300;
}

#login li {
    list-style-type: none;
}

#login #login-msg {
    margin-bottom: 20px;
    font-styl;
    color: #Fe: italic0301C;
}

/* -----------------------------------------
   HERO STYLES
----------------------------------------- */

#hero {
    background-color: #0f96b6;
    background-image: url(/media/images/yeti.png);
    background-repeat: no-repeat;
    background-position: 100% 100px;
    padding-bottom: 20px;
    color: #FFF;
}

#hero #nav ul {
    margin: 0;
    top: 20px;
}

#hero #nav li {
    float: right;
    margin: 0;
    list-style-type: none;
}

#hero #nav li a:not(.button) {
    top: 10px;
    padding-right: 20px;
    position: relative;
    text-decoration: underline
}

#hero #nav li a:not(.button):hover {
    text-decoration: none;
}

#hero #nav .button {
    color: #444;
}

#hero p {
    font-size: 1.1rem;
    color: #FFF;
}

#hero h1 {
    font-size: 3rem;
    font-weight: 300;
    color: #FFF;
}

#hero #nav h1 a {
    text-decoration: none;
}

#hero h2 {
    font-size: 3rem;
    font-weight: 300;
    color: #FFF;
}

#hero .panel {
    background-color: #137795;
    border: none;
}

#hero a {
    color: #FFF;
}

#hero a:hover {
    text-decoration: underline;
}

#hero form, #hero input {
    margin: 0;
}

#hero form input {
    height: 45px;
    font-size: 1.2rem;
    font-weight: 600;
}

#hero form .button {
    height: 45px;
    font-size: 1.1rem;
    background-color: #F03012;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

#hero form .button:hover {
    background-color: #D82B11;
}

#hero small {
    font-size: 0.75rem;
    margin-top: 15px;
    display: block;
}

#hero a.suggestedEmail {
    text-decoration: underline;
    cursor: pointer;
}

#hero a.suggestedEmail:hover {
    text-decoration: none;
}

/* -----------------------------------------
   DEMO STYLES
----------------------------------------- */

#demo {
    background-color: #242424;
    background-image: url(/media/images/black_linen_v2.png);
    padding: 50px 0;
}

#demo .middle {
    text-align: center;
}

#demo .middle h3 {
    color: #FFF;
    font-weight: 300;
}

#demo .middle .button {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

#demo .middle a#stuck {
    position: relative;
    top: 50px;
    color: #FFF;
}

#demo .middle a#stuck:hover {
    text-decoration: underline;
}

#demoEditor {
    width: 100%;
    height: 300px;
}

#demoPreview {
    width: 100%;
    height: 270px;
    border: 1px solid #E6E6E6;
    border-top: none;
    position: relative;
    top: -4px;
}

#landingModal h1 {
    font-weight: 300;
}

#landingModal .fb-like {
    top: 6px;
    left: 20px;
}

/* -----------------------------------------
   HEADER NORMAL STYLES
----------------------------------------- */

#header_normal {
    margin-bottom: 20px;
}

#header_normal, #header_normal nav, #header_normal ul, #header_normal li, #header_normal a {
    background-color: #0F96B6;
}

#header_normal a:hover {
    background-color: #107795;
}

#header_normal .title-area a {
    font-weight: 400;
}

#header_normal img.profile_picture {
    position: relative;
    top: 4px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;;
}

/* -----------------------------------------
   HEADER CODE STYLES
----------------------------------------- */

#header_code nav {
    margin-bottom: 0px;
}

#header_code ul.title-area a {
    font-weight: 400;
}

#header_code ul.right {
    right: 50px;
    position: relative
}

#header_code, #header_code nav, #header_code ul, #header_code li, #header_code a {
    background-color: #272727;
}

#header_code a:hover {
    background-color: #1E1E1E;
}

#header_code img.profile_picture {
    position: relative;
    top: 4px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;;
}

/* -----------------------------------------
   MODAL STYLES
----------------------------------------- */

.reveal-modal h2 {
    font-weight: 300;
}

/* -----------------------------------------
   LEARN STYLES
----------------------------------------- */

#learn h1 {
    font-weight: 300;
}

#learn .lesson, #learn .lesson i, #learn .lesson .title {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

#learn .lesson {
    display: inline-block;
    float: left;
    width: 22%;
    height: 140px;
    margin-bottom: 2rem;
    margin-right: 2rem;
    position: relative;

    border: 1px solid #E0E0E0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#learn .lesson:nth-child(5n) {
    margin-right: 0;
}

#learn .lesson:hover {
    border-color: #F03012;
}

#learn .lesson:hover i {
    color: #F03012;
}

#learn .lesson i {
    position: absolute;
    top: 20px;
    left: 40px;

    font-size: 5rem;
    color: #E0E0E0;
}

#learn .lesson .title {
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: right;
    text-transform: uppercase;

    font-weight: 300;
    font-size: 2rem;
    color: #F03012;
}

#learn .lesson.completed {
    border: 1px solid #34A829;
}

#learn .lesson.completed i, #learn .lesson.completed .title {
    color: #34A829;
}

#learn .lesson.completed:hover {
    border-color: #2A8521;
}

#learn .lesson.completed:hover i, #learn .lesson.completed:hover .title {
    color: #2A8521;
}

#learn .lesson.disabled:hover {
    border-color: #E0E0E0;
    cursor: default;
}

#learn .lesson.disabled:hover i {
    color: #E0E0E0;
}

#learn .lesson.disabled .title {
    color: #828282;
}

/* -----------------------------------------
   LESSON STYLES
----------------------------------------- */

#lesson, #lesson h1, #lesson h2, #lesson h3, #lesson h4, #lesson h5, #lesson h6 {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

#lesson #left, #lesson #right {
    width: 50%;
    float: left;
    position: relative;
}

#lesson #editor, #lesson #chrome-frame {
    width: 100%;
}

#lesson .objective-check {
    position: absolute;
    bottom: 0;
    right: 20px;
}

#lesson .objective-check i {
    position: relative;
    top: 3px;
}

#lesson #preview-wrapper {
    background-color: #2C2C2C;
}

#lesson #preview {
    width: 100%;
    border: none;
    position: relative;
    top: -3px;
}

#lesson p.title {
    font-weight: 700;
}

#lesson .section-container {
    margin: 0;
    background-color: #2C2C2C;
}

#lesson .section-container div.content {
    overflow: scroll;
}

#lesson .section-container.tabs section .content,
#lesson .section-container.tabs .section .content {
    border-bottom: none;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* -----------------------------------------
   OBJECTIVE STYLES
----------------------------------------- */

#objectiveModal h2 {
    font-weight: 300;
}

#objectiveModal p {
    font-size: 1.3rem;
}

/* -----------------------------------------
   HACKY STYLES
----------------------------------------- */

.CodeRay .content {
  top: 0 !important;
  padding: 0 !important;
  border: none !important;
  position: inherit !important;
  display: inherit !important;
  background-color: inherit !important; }

/* -----------------------------------------
   RESPONSIVE STYLES
----------------------------------------- */

@media only screen and (max-width: 48em) {

    #hero {
        background-image: none;
    }

}