/* Artfully masterminded by Kevin Xu <kevin@imkevinxu.com> */

/* -----------------------------------------
   FONT STYLES
----------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic,700italic);

/* -----------------------------------------
   SHARED STYLES
----------------------------------------- */

.fl { float: left; }
.fr { float: right; }
.tl { text-align: left; }
.tr { text-align: right; }
.tc { text-align: center; }
.center { margin: 0 auto; }
.clear { clear: both; }
.block { display: block !important; }
.none { display: none !important; }
.inline-block { display: inline-block !important; }
.error { color: #c60f13; }
.visible { opacity: 1; }
.invisible { opacity: 0; }

/* -----------------------------------------
   BASE STYLES
----------------------------------------- */

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #222;
}

input::-webkit-input-placeholder { color: #d5dadd; }
input:-moz-placeholder { color: #d5dadd; }
input:-ms-input-placeholder { color: #d5dadd; }

/* -----------------------------------------
   HOMEPAGE STYLES
----------------------------------------- */

#homepage #hero {
    background-color: #0f96b6;
    background-image: url(/media/images/yeti.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    padding-bottom: 20px;
    color: #FFF;
}

#homepage #hero p {
    font-size: 1.1rem;
    color: #FFF;
}

#homepage #hero h1 {
    font-size: 4rem;
    font-weight: 300;
    color: #FFF;
}

#homepage #hero h2 {
    font-weight: 300;
    color: #FFF;
}

#homepage #hero .strong {
    font-weight: 600;
}

#homepage #hero .panel {
    background-color: #137795;
    border: none;
}

#homepage #hero a {
    color: #FFF;
}

#homepage #hero a:hover {
    text-decoration: underline;
}

#homepage #hero form, #homepage #hero input {
    margin: 0;
}

#homepage #hero form input {
    height: 45px;
    font-size: 1.2rem;
    font-weight: 600;
}

#homepage #hero form .button {
    height: 45px;
    font-size: 1.1rem;
    background-color: #F03012;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

#homepage #hero form .button:hover {
    background-color: #D82B11;
}

#homepage #hero small {
    font-size: 0.75rem;
    margin-top: 15px;
    display: block;
}

/* -----------------------------------------
   LEARN STYLES
----------------------------------------- */

#learn .lesson {
    border: 1px solid #A0A0A0;
    height: 150px;
}

/* -----------------------------------------
   LESSON STYLES
----------------------------------------- */

#lesson .top-bar {
    margin: 0;
}

#lesson #left, #lesson #right {
    width: 50%;
    float: left;
}

#lesson #editor, #lesson #chrome-frame {
    width: 100%;
}

#lesson #preview-wrapper {
    background-color: #2C2C2C;
}

#lesson #preview {
    width: 100%;
    border: none;
    position: relative;
    top: -3px;
}

#lesson #content {
}

#lesson .section-container {
    margin: 0;
}

#lesson .section-container div.content {
    overflow: scroll;
}


/* -----------------------------------------
   HACKY STYLES
----------------------------------------- */

.CodeRay .content {
  top: 0 !important;
  padding: 0 !important;
  border: none !important;
  position: inherit !important;
  display: inherit !important;
  background-color: inherit !important; }

/* -----------------------------------------
   RESPONSIVE STYLES
----------------------------------------- */

@media only screen and (max-width: 48em) {

    #homepage #hero {
        background-image: none;
    }

}