<footer>
    <div class="row">
        <div class="large-6 columns">

            <h3>&copy; Alpha 2013</h3>

        </div>
        <div class="large-6 columns">

            <!-- Facebook Like Button -->
            <div class="fb-like" data-href="http://thefaithinhumanity.com/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

            <!-- Twitter Tweet Button -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Learn @ZURB @Foundation with interactive lessons" data-url="http://www.tryfoundation.io/">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            <!-- Google+ Button -->
            <div class="g-plusone" data-size="medium"></div>
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>

        </div>
    </div>
</footer>