<footer id="{% if homepage %}homepage{% endif %}">
    <div class="row">
        <div class="large-8 columns">

            <h4>&copy; Alpha 2013&nbsp;|&nbsp;<a href="#" data-reveal-id="aboutModal">About</a>&nbsp;|&nbsp;<small>Not affiliated with <a href="http://zurb.com/?ref=tryfoundation" target="_blank">ZURB</a>, but they're awesome :)</small></h4>

        </div>
        <div class="large-4 columns share">

            <!-- Facebook Like Button -->
            <div class="fb-like" data-href="http://www.tryfoundation.io/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

            <!-- Twitter Tweet Button -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Learn @foundationzurb frontend programming with these brand spanking new interactive lessons" data-url="http://www.tryfoundation.io/">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            <!-- Google+ Button -->
            <div class="g-plusone" data-size="medium"></div>
            <script type="text/javascript">r
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>

        </div>
    </div>
</footer>

<div id="aboutModal" class="reveal-modal medium">
    <h2>Try Foundation</h2>
    <p class="lead">We love using Zurb Foundation, and we want you to use it too!</p>
    <p>Try Foundation is a series of interactive lessons and projects to teach the Zurb Foundation framework. It's meant to let you build HTML &amp; CSS pieces real-time in the browser so you can work on actual projects with what you've learned. It was built by <a href="http://twitter.com/charlierguo" target="_blank">Charlie Guo</a> and <a href="http://twitter.com/imkevinxu" target="_blank">Kevin Xu</a>.</p>
    <a class="close-reveal-modal">&#215;</a>
</div>