{{'<!DOCTYPE html>
<html>
<head>
    <title>Foundation Alerts</title>
    <link rel="stylesheet" href="foundation.css" />
</head>
<body>
	<p>What are you waiting for? Start coding in the editor!</p>

<!-- 
Now that you\'ve seen buttons, let\'s try some other components. Be alert! :)

You can create an alert by using a block level element, like a <div>.

The alert\'s color and shape can be set using the same classes that buttons use.

Sadly, however, you can\'t change the size of the alert with class="large" or class="small".

Good luck!
-->

</body>
</html>'|escape }}