{{'<!DOCTYPE html>
<html>
<head>
    <title>Foundation Buttons</title>
    <link rel="stylesheet" href="foundation.css" />
</head>
<body>

    <h3>What are you waiting for? Start coding in the editor!</h3>

<!--
Welcome to Try Foundation!

We\'ll be taking you through a tour of Zurb Foundation\'s features, starting with buttons!

For each lesson, you\'ll have an objective (top right), a space to experiment with code (left), and a real-time rendering of your code (bottom right)! Before you can move on to the next lesson, you\'ll have to complete the objective.

There are examples on every lesson to help you out, should you feel stuck.

Good luck!
-->

</body>
</html>'|escape }}