{{'<!DOCTYPE html>
<html>
<head>
    <title>Foundation Button Groups</title>
    <link rel="stylesheet" href="foundation.css" />
</head>
<body>
	<p>What are you waiting for? Start coding in the editor!</p>

<!--
Cool, we\'ve got buttons down. Now let\'s start making more complex things out of them. 

There are times when you\'ll want to use groups of buttons (to offer several actions as a bar). All you have to do is wrap each button in a <li>, and wrap everything in a <ul> with class="button-group".

You can change still the size and color of the buttons, but you\'ll have to add class="radius" or class="round" to the <ul class="button-group"> to change the shape of the group.

To make a "button bar", just group several button groups together (BUTTONCEPTION!) inside of a <div> with class="button-bar".

It\'s button-tastic!

Good luck!
-->

</body>
</html>'|escape }}