{{'<!DOCTYPE html>
<html>
<head>
    <title>Foundation Buttons II</title>
    <link rel="stylesheet" href="foundation.css" />
</head>
<body>
	<p>What are you waiting for? Start coding in the editor!</p>

<!--
Woo! Great job with that first button.

That\'s not the only kind of button you can make, though. Depending on your use case, you might need some different sizes, shapes, and colors.

All you have to change is add a class name! Adding class="success", for example, will make your button bright green, class="round" will make it an oval button, and adding class="disabled" will prevent it from being clicked.

Look at the examples to see all of the options.

Good luck!
-->

</body>
</html>'|escape }}