{{'<!DOCTYPE html>
<html>
<head>
    <title>Foundation Button Dropdowns</title>
    <link rel="stylesheet" href="foundation.css" />
</head>
<body>
	<p>What are you waiting for? Start coding in the editor!</p>

<!--
Get ready to drop (down) like it\'s hot!

Making dropdown buttons is really easy. Just taking an existing button, and add class="dropdown" to it. 

This styles the button properly, but you\'ll have to use the dropdown JavaScript plugin for the dropdown content itself.

Similarly, if you want a split button (the left side is a button and the right side is a dropdown), just add class="split" to an existing button, and inside of the button, add an empty <span> tag.

Good luck!
-->

</body>
</html>'|escape }}