{{'<!DOCTYPE html>
<html>
<head>
    <title>Foundation Panels</title>
    <link rel="stylesheet" href="foundation.css" />
</head>
<body>
	<p>What are you waiting for? Start coding in the editor!</p>

<!--
Panels are SUPER simple, almost to the point of being boring (actually, if we\'re being honest, they ARE boring, but we need to be thorough).

All you need to do is add a wrapper <div> around whatever content you have, and add class="panel". 

You can add class="radius" to give it rounded corners, and you can add class="callout" to make it a little more eye-catching. 

Good luck!
-->

</body>
</html>'|escape }}