{{'<!DOCTYPE html>
<html>
<head>
    <title>Foundation Progress Bars</title>
    <link rel="stylesheet" href="foundation.css" />
</head>
<body>
	<p>What are you waiting for? Start coding in the editor!</p>

<!--
Now we\'re ready to REALLY make some progress ;)

To create a progress bar, create a div with class="progress", and put a span with class="meter" inside of the div.

The meter is what shows the actual progress, and its width reflects the amount of progress displayed. The easiest way to update the progress is to change the style="width=%" on the meter itself. 

As always, you can modify the color and shape of the progress bar with the familiar button classes. 

Good luck!
-->

</body>
</html>'|escape }}