<div class="row">
 	<div data-alert="" class="alert-box">
 		This is a standard alert (div.alert-box).
 	</div>

  	<pre><code class="language-markup">
		{{ '<div data-alert="" class="alert-box">
		 	This is a standard alert (div.alert-box).
		</div>'|escape }}
  	</code></pre>
</div>

<div class="row">
	<div data-alert="" class="alert-box success radius">
		This is a success alert (div.alert-box.success).
	</div>

	<pre><code class="language-markup">
		{{ '<div data-alert="" class="alert-box success radius">
			This is a success alert (div.alert-box.success).
		</div>'|escape }}
	</code></pre>
</div>

<div class="row">
	<div data-alert="" class="alert-box alert round">
		This is an alert (div.alert-box.alert.round).
	</div>

	<pre><code class="language-markup">
		{{ '<div data-alert="" class="alert-box alert round">
			This is an alert (div.alert-box.alert.round).
		</div>'|escape }}
	</code></pre>
</div>

<div class="row">
	<div data-alert="" class="alert-box secondary">
	  	This is a secondary alert (div.alert-box.secondary).
	</div>

	<pre><code class="language-markup">
		{{ '<div data-alert="" class="alert-box secondary">
		  	This is a secondary alert (div.alert-box.secondary).
		</div>'|escape }}
	</code></pre>
</div>



