<div class="row">
    <a href="#" class="button">Default Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button">Default Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="tiny button">Tiny Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="tiny button">Tiny Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="small button">Small Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="small button">Small Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="large button">Large Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="large button">Large Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button secondary">Secondary Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button secondary">Secondary Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button success">Success Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button success">Success Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button alert">Alert Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button alert">Alert Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button radius">Radius Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button radius">Radius Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button round">Round Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button round">Round Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button disabled">Disabled Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button disabled">Disabled Button</a>'|escape }}
    </code></pre>
</div>
