<div class="row">
    <div class="large-4 columns">
        <a href="#" class="button">Default Button</a><br/>
        <a href="#" class="tiny button">Tiny Button</a><br/>
        <a href="#" class="small button">Small Button</a><br/>
        <a href="#" class="large button">Large Button</a><br/>
    </div>
    <div class="large-4 columns">
        <a href="#" class="button secondary">Secondary Button</a>
        <a href="#" class="button success">Success Button</a>
        <a href="#" class="button alert">Alert Button</a>
    </div>
    <div class="large-4 columns">
        <a href="#" class="button radius">Radius Button</a>
        <a href="#" class="button round">Round Button</a>
        <a href="#" class="button disabled">Disabled Button</a>
    </div>
</div>


<div class="row">
    <div class="large-12 columns">

<div class="html"><div class="CodeRay">
<div class="code"><pre><span class="comment">&lt;!-- Size Classes --&gt;</span>
<span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">"</span><span class="content">#</span><span class="delimiter">"</span></span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">"</span><span class="content">button</span><span class="delimiter">"</span></span><span class="tag">&gt;</span>Default Button<span class="tag">&lt;/a&gt;</span>
<span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">"</span><span class="content">#</span><span class="delimiter">"</span></span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">"</span><span class="content">tiny button</span><span class="delimiter">"</span></span><span class="tag">&gt;</span>Tiny Button<span class="tag">&lt;/a&gt;</span>
<span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">"</span><span class="content">#</span><span class="delimiter">"</span></span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">"</span><span class="content">small button</span><span class="delimiter">"</span></span><span class="tag">&gt;</span>Small Button<span class="tag">&lt;/a&gt;</span>
<span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">"</span><span class="content">#</span><span class="delimiter">"</span></span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">"</span><span class="content">large button</span><span class="delimiter">"</span></span><span class="tag">&gt;</span>Large Button<span class="tag">&lt;/a&gt;</span>

<span class="comment">&lt;!-- Color Classes --&gt;</span>
<span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">"</span><span class="content">#</span><span class="delimiter">"</span></span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">"</span><span class="content">button secondary</span><span class="delimiter">"</span></span><span class="tag">&gt;</span>Secondary Button<span class="tag">&lt;/a&gt;</span>
<span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">"</span><span class="content">#</span><span class="delimiter">"</span></span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">"</span><span class="content">button success</span><span class="delimiter">"</span></span><span class="tag">&gt;</span>Success Button<span class="tag">&lt;/a&gt;</span>
<span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">"</span><span class="content">#</span><span class="delimiter">"</span></span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">"</span><span class="content">button alert</span><span class="delimiter">"</span></span><span class="tag">&gt;</span>Alert Button<span class="tag">&lt;/a&gt;</span>

<span class="comment">&lt;!-- Radius Classes --&gt;</span>
<span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">"</span><span class="content">#</span><span class="delimiter">"</span></span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">"</span><span class="content">button radius</span><span class="delimiter">"</span></span><span class="tag">&gt;</span>Radius Button<span class="tag">&lt;/a&gt;</span>
<span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">"</span><span class="content">#</span><span class="delimiter">"</span></span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">"</span><span class="content">button round</span><span class="delimiter">"</span></span><span class="tag">&gt;</span>Round Button<span class="tag">&lt;/a&gt;</span>
<span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">"</span><span class="content">#</span><span class="delimiter">"</span></span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">"</span><span class="content">button disabled</span><span class="delimiter">"</span></span><span class="tag">&gt;</span>Disabled Button<span class="tag">&lt;/a&gt;</span>
</pre></div>
</div></div>

    </div>
</div>