<div class="row">
    <a href="#" class="button dropdown">Default Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button dropdown">Default Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="tiny button dropdown">Tiny Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="tiny button dropdown">Tiny Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="small button dropdown">Small Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="small button dropdown">Small Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="large button dropdown">Large Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="large button dropdown">Large Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button dropdown secondary">Secondary Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button dropdown secondary">Secondary Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button dropdown success">Success Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button dropdown success">Success Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button dropdown alert">Alert Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button dropdown alert">Alert Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button dropdown radius">Radius Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button dropdown radius">Radius Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button dropdown round">Round Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button dropdown round">Round Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button disabled">Disabled Button</a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button disabled">Disabled Button</a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button split">Default Button <span></span></a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button split">Default Button <span></span></a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="tiny button split">Tiny Button <span></span></a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="tiny button split">Tiny Button <span></span></a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="small button split">Small Button <span></span></a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="small button split">Small Button <span></span></a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="large button split">Large Button <span></span></a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="large button split">Large Button <span></span></a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button split secondary">Secondary Button <span></span></a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button split secondary">Secondary Button <span></span></a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button split success">Success Button <span></span></a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button split success">Success Button <span></span></a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button split alert">Alert Button <span></span></a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button split alert">Alert Button <span></span></a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button split radius">Radius Button <span></span></a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button split radius">Radius Button <span></span></a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button split round">Round Button <span></span></a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button split round">Round Button <span></span></a>'|escape }}
    </code></pre>
</div>

<div class="row">
    <a href="#" class="button split disabled">Disabled Button <span></span></a><br/>
    <pre><code class="language-markup">
        {{ '<a href="#" class="button split disabled">Disabled Button <span></span></a>'|escape }}
    </code></pre>
</div>
