<div class="row">
  <a href="#" data-dropdown="" class="tiny button dropdown">Dropdown Button</a><br />
  <pre><code class="language-markup">
    {{ '<a href="#" data-dropdown="" class="tiny button dropdown">Dropdown Button</a>'|escape }}
  </code></pre>
</div>

<div class="row">
  <a href="#" data-dropdown="" class="small secondary radius button dropdown">Dropdown Button</a><br />
  <pre><code class="language-markup">
    {{ '<a href="#" data-dropdown="" class="small secondary radius button dropdown">Dropdown Button</a>'|escape }}
  </code></pre>
</div>

<div class="row">
  <a href="#" data-dropdown="" class="button alert round dropdown">Dropdown Button</a><br />
  <pre><code class="language-markup">
    {{ '<a href="#" data-dropdown="" class="button alert round dropdown">Dropdown Button</a>'|escape }}
  </code></pre>
</div>

<div class="row">
  <a href="#" data-dropdown="" class="large success button dropdown">Dropdown Button</a><br />
  <pre><code class="language-markup">
    {{ '<a href="#" data-dropdown="" class="large success button dropdown">Dropdown Button</a>'|escape }}
  </code></pre>
</div>

<div class="row">
  <a href="#" data-dropdown="" class="large button dropdown expand">Dropdown Button</a><br />
  <pre><code class="language-markup">
    {{ '<a href="#" data-dropdown="" class="large button dropdown expand">Dropdown Button</a>'|escape }}
  </code></pre>
</div>

<div class="row">
  <a href="#" class="tiny button split">Split Button <span data-dropdown=""></span></a><br />
  <pre><code class="language-markup">
    {{ '<a href="#" class="tiny button split">Split Button <span data-dropdown=""></span></a>'|escape }}
  </code></pre>
</div>

<div class="row">
  <a href="#" class="small secondary radius button split">Split Button <span data-dropdown=""></span></a><br />
  <pre><code class="language-markup">
    {{ '<a href="#" class="small secondary radius button split">Split Button <span data-dropdown=""></span></a>'|escape }}
  </code></pre>
</div>

<div class="row">
  <a href="#" class="button alert round split">Split Button <span data-dropdown=""></span></a><br />
  <pre><code class="language-markup">
    {{ '<a href="#" class="button alert round split">Split Button <span data-dropdown=""></span></a>'|escape }}
  </code></pre>
</div>

<div class="row">
  <a href="#" class="large success button split">Split Button <span data-dropdown=""></span></a><br />
  <pre><code class="language-markup">
    {{ '<a href="#" class="large success button split">Split Button <span data-dropdown=""></span></a>'|escape }}
  </code></pre>
</div>
