<div class="row">
	<span class="label">Regular Label</span><br>
	<pre><code class="language-markup">
		{{ '<span class="label">Regular Label</span>'|escape }}
	</code></pre>
</div>

<div class="row">
	<span class="radius secondary label">Radius Secondary Label</span><br>
	<pre><code class="language-markup">
		{{ '<span class="radius secondary label">Radius Secondary Label</span>'|escape }}
	</code></pre>
</div>

<div class="row">
	<span class="round alert label">Round Alert Label</span><br>
	<pre><code class="language-markup">
		{{ '<span class="round alert label">Round Alert Label</span>'|escape }}
	</code></pre>
</div>

<div class="row">
	<span class="success label">Success Label</span><br>
	<pre><code class="language-markup">
		{{ '<span class="success label">Success Label</span>'|escape }}
	</code></pre>
</div>
