<h5>Button Groups</h5>

<p><strong>Objective: </strong>make two button bars like the ones below.</p>

<div class="row">
  <ul class="button-group round">
    <li><a href="#" class="button alert">Left</a></li>
    <li><a href="#" class="button alert">Middle</a></li>
    <li><a href="#" class="button alert">Right</a></li>
  </ul>
</div>

<div class="row">
  <div class="button-bar">
    <ul class="button-group">
      <li><a href="#" class="button small">Tab 1</a></li>
      <li><a href="#" class="button small">Tab 2</a></li>
    </ul>

    <ul class="button-group">
      <li><a href="#" class="button small">Tab 3</a></li>
      <li><a href="#" class="button small">Tab 4</a></li>
      <li><a href="#" class="button small">Tab 5</a></li>
      <li><a href="#" class="button small">Tab 6</a></li>
    </ul>
  </div>
</div>