<h5>Button Groups</h5>

<p>Sometimes though, you'll want to use groups of buttons (to offer several actions as a bar). All of the same button classes still work, you just have to wrap everything in a <kbd>ul.button-group</kbd> tag. You can change the size and color of each individual button, but add <kbd>.round</kbd> or <kbd>.radius</kbd> to the <kbd>ul</kbd>.</p>

<p>By default, each button will be the standard button width. If you want to change the widths, you can add a <kbd>.even-#</kbd> class. <kbd>.even-2</kbd> will make each button wide enough to have 2 buttons take up the entire width, <kbd>.even-3</kbd> will do the same for 3 buttons, all the way up to <kbd>.even-8</kbd>.</p>

<p>If you want a longer bar made of several button groups, just wrap your button groups in a <kbd>div.button-bar</kbd>.</p>