<div class="sublesson">
	<h5>Welcome!</h5>

	<p>Let's jump right in. Try to make a button like the one below:</p>

	<button class="button">Button</button>

	<p>If you get stuck, the documentation is in the tab to the right.</p>
</div>

<div class="sublesson">
	<h5>Awesome!</h5>

	<p>That's not the only kind of button you can make, though. Depending on your use case, you might need some different sizes, shapes, and colors.</p>

	<p>All that changes is the class name. <kbd>.tiny</kbd>, <kbd>.small</kbd>, <kbd>.medium</kbd> (the default) and <kbd>.large</kbd> change size, while <kbd>.secondary</kbd>, <kbd>.success</kbd>, and <kbd>.alert</kbd> change color.</p>

	<p>You can also check out <kbd>.radius</kbd>, <kbd>.round</kbd>, and <kbd>.disabled</kbd> for more variations. In general, you can attach the <kbd>.button</kbd> class (and its associated styles) to any <kbd>a</kbd>, <kbd>button</kbd>, or <kbd>input</kbd> tags.</p>
</div>

<div class="sublesson">
	<h5>Button Groups</h5>

	<p>Sometimes though, you'll want to use groups of buttons (to offer several actions as a bar). All of the same button classes still work, you just have to wrap everything in a <kbd>ul.button-group</kbd> tag. You can change the size and color of each individual button, but add <kbd>.round</kbd> or <kbd>.radius</kbd> to the <kbd>ul</kbd>.</p>

	<p>By default, each button will be the standard button width. If you want to change the widths, you can add a <kbd>.even-#</kbd> class. <kbd>.even-2</kbd> will make each button wide enough to have 2 buttons take up the entire width, <kbd>.even-3</kbd> will do the same for 3 buttons, all the way up to <kbd>.even-8</kbd>.</p>

	<p>If you want a longer bar made of several button groups, just wrap your button groups in a <kbd>div.button-bar</kbd>.</p>
</div>

<div class="sublesson">
	<h5>Dropdowns</h5>

	<p>Making dropdown buttons is super easy. Just taking an existing button, and add <kbd>.dropdown</kbd> to it. This styles the button properly, but you'll have to use the <a href="http://foundation.zurb.com/docs/components/dropdown.html">dropdown plugin</a> for the dropdown content itself.</p>

	<p>Similarly, if you want a split button (the left side is a button and the right side is a dropdown), just add <kbd>.split</kbd> to an existing button. Using split buttons requires the <a href="http://foundation.zurb.com/docs/components/dropdown.html">dropdown plugin</a> as well.</p>
</div>