<h5>Button Groups</h5>

<p><strong>Objective: </strong>make two button bars like the ones below.</p>

<div class="row">
  <ul class="button-group round">
    <li><a href="#" class="button alert">Left</a></li>
    <li><a href="#" class="button alert">Middle</a></li>
    <li><a href="#" class="button alert">Right</a></li>
  </ul>
</div>

<div class="row">
  <div class="button-bar">
    <ul class="button-group">
      <li><a href="#" class="button small">Tab 1</a></li>
      <li><a href="#" class="button small">Tab 2</a></li>
    </ul>

    <ul class="button-group">
      <li><a href="#" class="button small">Tab 3</a></li>
      <li><a href="#" class="button small">Tab 4</a></li>
      <li><a href="#" class="button small">Tab 5</a></li>
      <li><a href="#" class="button small">Tab 6</a></li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  var checkObjective = function(contents) {

    var button_group = $(contents).find('ul.button-group.round');
    var button_bar = $(contents).find('div.button-bar');

    return button_group.length > 0 &&
            (button_group.children().find('.button.alert').length == 3 ||
              button_group.children().find('button.alert').length == 3) &&
            button_bar.length > 0 &&
            button_bar.children('ul.button-group').length == 2 &&
            (button_bar.children('ul.button-group').first().children().find('.button.small').length == 2 ||
              button_bar.children('ul.button-group').first().children().find('button.small').length == 2) &&
            (button_bar.children('ul.button-group').last().children().find('.button.small').length == 4 ||
              button_bar.children('ul.button-group').last().children().find('button.small').length == 4);

  };
</script>