<h5>Awesome job with your first button!</h5>

<p>That's not the only kind of button you can make, though. Depending on your use case, you might need some different sizes, shapes, and colors.</p>

<p>All you have to change is add a class name! Adding <kbd>.success</kbd>, for example, will make your button bright green, and adding <kbd>.disabled</kbd> will prevent it from being clicked.</p>

<p>See if you can make the three buttons below:</p>

<div class="button secondary small">Cancel</div>
<div class="button success round">Save File</div>
<div class="button alert large radius">I Accept All Responsibility</div>

<p>Hint: Check out the <a href="#examples">examples!</a> They show you all the different kinds of buttons you can make.</p>