<div class="sublesson">
	<h5>Alerts</h5>

	<p>To make an alert box, just use a block-level element (like a <kbd>div</kbd>) and add the <kbd>.alert-box</kbd> class. You can use the <kbd>.secondary</kbd>, <kbd>.success</kbd>, and <kbd>.alert</kbd> classes to style alerts (just like buttons). </p>

	<p>To add a close button to your alert, add the <kbd>data-alert</kbd> attribute, and an anchor with the class <kbd>.close</kbd>.</p>
</div>

<div class="sublesson">
	<h5>Labels</h5>

	<p>Foundation also lets you easily create labels, useful inline styles that can serve as tags or call our certain sections.</p>

	<p>All you need is a <kbd>span</kbd> tag with the class <kbd>.label</kbd>. Like alerts, labels can be styled with the <kbd>.secondary</kbd>, <kbd>.success</kbd>, and <kbd>.alert</kbd> classes, but they can also be styled with <kbd>.radius</kbd> and <kbd>.round</kbd> classes for different shapes.</p>
</div>

<div class="sublesson">
	<h5>Progress Bars</h5>

	<p>To create a progress bar, create a <kbd>div.progress</kbd>, and within that a <kbd>span.meter</kbd>. The meter is what shows the actual progress, and its width will reflect the amount of progress made. The easiest way to update it is to change the <kbd>style="width:%"</kbd> on the element itself.</p>

	<p>You can change the color and shape of the progress bar with the familiar <kbd>.secondary</kbd>, <kbd>.success</kbd>, <kbd>.alert</kbd>, <kbd>.radius</kbd> and <kbd>.round</kbd> classes. If you need to control the width of the progress bar, the <kbd>.small-#</kbd> and <kbd>.large-#</kbd> classes are available.</p>
</div>