<h5>Dropdowns &amp; Splits</h5>

<p><strong>Objective: </strong>make dropdown and split buttons like the ones below.</p>

<div class="row">
	<a href="#" class="button dropdown secondary round">See All Options</a>
	<a href="#" class="button split success radius">Click OR See Options<span></span></a>
</div>

<script type="text/javascript">
	var checkObjective = function(contents) {
		return ($(contents).find('.button.dropdown.secondary.round').length > 0 ||
				$(contents).find('button.dropdown.secondary.round').length > 0) &&
				($(contents).find('.button.split.success.radius').length > 0 ||
				$(contents).find('button.split.success.radius').length > 0);
	};
</script>