<div class="sublesson">
	<p>If you've already mastered buttons, you'll probably want to add some navigation tools to your toolbox. The basic top bar is a <kbd>nav.top-bar</kbd> element, and it requires three components: a <kbd>ul.title-area</kbd> element, a <kbd>li.right/left</kbd> element, and a <kbd>li.toggle-topbar</kbd> element. <a href="#examples">Check out a full example.</a></p>

	<p>The first piece is the title area, usually reserved for the name of your website or organization. To create it, use a <kbd>ul.title-area</kbd> element, an inner <kbd>li.name</kbd> element, and then an <kbd>h1</kbd> tag with an inner <kbd>a</kbd> tag linking to your main url. It's a bit opinionated, but it's all required to get the styles to apply correctly.</p>

	<p>The second piece is the <kbd>li</kbd> elements. Add as many top bar components as you want, using </p>
</div>