{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div id="hero">
    <div id="nav" class="row">
        <div class="large-8 columns">
            <h1><a href="{% url index %}">Try <span class="strong">Foundation</span></a></h1>
        </div>
        <ul class="large-4 columns">
            <li>
                {% if request.user.is_authenticated() %}
                    <a href="{% url logout %}">Logout</a>
                {% else %}
                    <a href="{% url login %}">Log In</a>
                {% endif %}
            </li>
            <li><a href="{% url learn %}">View all lessons</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="large-9 columns">
            <h2>Interactive lessons and projects to learn <span class="strong"><a href="http://foundation.zurb.com/?ref=tryfoundation" target="_blank">ZURB Foundation</a></span>*</h2>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <div class="panel">
                <p>Foundation is a popular front-end framework for coding HTML/CSS really fast. Sign up with your email to learn right now, completely free.</p>

                <form action='{% url signup %}' id="email_cta" method="post">{% csrf_token %}
                    <div class="row collapse">
                        <div class="small-9 columns">
                            <input type="email" name="email" class="email" placeholder="Email address" required />
                        </div>
                        <div class="small-3 columns">
                            <input type="submit" class="button prefix" value="Get started" />
                        </div>
                    </div>
                </form>

                <small class="mailCheck">* Not affiliated or endorsed by <a href="http://zurb.com/?ref=tryfoundation" target="_blank">ZURB</a>... yet...</small>
            </div>
        </div>
    </div>
</div>

<div id="demo">
    <div class="row">
        <div class="large-5 columns">
            <div id="demoEditor">{% include "_index_demo.html" %}</div>
        </div>

        <div class="large-2 columns middle">
            <h3>RECREATE THIS BUTTON</h3>
            <div class="button">The Prize</div>
            <a href="/learn?ref=stuck" id="stuck">Are you stuck?</a>
        </div>

        <div class="large-5 columns">
            <img src="{{ MEDIA_URL }}images/mini-chrome-frame.png" alt="chrome-frame">
            <iframe id="demoPreview"></iframe>
        </div>
    </div>
</div>

<div id="landingModal" class="reveal-modal medium">
    <p>Booyah! You did it!</p>
    <p>Want to learn how to build more with Foundation?</p>
    <p><a href="" class="button success">See More Lessons</a></p>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    var checkDemo = function(contents) {
        if (($(contents).find('.button').length > 0 && $(contents).find('.button').text() == 'The Prize') ||
            ($(contents).find('button').length > 0 && $(contents).find('button').text() == 'The Prize')) {
            $('#landingModal').foundation('reveal', 'open');
        }
    };
</script>

{% endblock %}
