{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div id="hero">
    <div id="nav" class="row">
        <div class="large-6 columns">
            <h1><a href="{% url index %}">Try <span class="strong">Foundation</span></a></h1>
        </div>
        <ul class="large-6 columns">
            <li>
                {% if request.user.is_authenticated() %}
                    <a href="{% url logout %}">Logout</a>
                {% else %}
                    <a href="{% url login %}">Log In</a>
                {% endif %}
            </li>
            <li><a href="{% url learn %}">View all lessons</a></li>

            <div class="fr share home">
                <!-- Facebook Like Button -->
                <div class="fb-like" data-href="http://www.tryfoundation.io/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

                <!-- Twitter Tweet Button -->
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Learn @foundationzurb frontend programming with these brand spanking new interactive lessons" data-url="http://www.tryfoundation.io/">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </ul>
    </div>

    <div class="row">
        <div class="large-9 columns">
            <h2>Interactive lessons and projects to learn <span class="strong"><a href="http://foundation.zurb.com/?ref=tryfoundation" target="_blank">ZURB Foundation</a></span>*</h2>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <div class="panel">
                <p>Foundation is a popular front-end framework for coding HTML/CSS really fast. Sign up with your email to learn right now, completely free.</p>

                <form action='{% url signup %}' id="email_cta" method="post">{% csrf_token %}
                    <div class="row collapse">
                        <div class="small-9 columns">
                            <input type="email" name="email" class="email" placeholder="Email address" required />
                        </div>
                        <div class="small-3 columns">
                            <input type="submit" class="button prefix" value="Get started" />
                        </div>
                    </div>
                </form>

                <small class="mailCheck">* Not affiliated or endorsed by <a href="http://zurb.com/?ref=tryfoundation" target="_blank">ZURB</a>... yet...</small>
            </div>
        </div>
    </div>
</div>

<div id="demo">
    <div class="row">
        <div class="large-5 columns">
            <div id="demoEditor">{% include "_index_demo.html" %}</div>
        </div>

        <div class="large-2 columns middle">
            <h3>RECREATE THIS<br/><i class="foundicon-down-arrow"></i></h3>
            <div class="button">The Prize</div>
            <a href="/learn?ref=stuck" id="stuck">Are you stuck?</a>
        </div>

        <div class="large-5 columns">
            <img src="{{ MEDIA_URL }}images/mini-chrome-frame.png" alt="chrome-frame">
            <iframe id="demoPreview"></iframe>
        </div>
    </div>
</div>

<div id="landingModal" class="reveal-modal medium">
    <h1>Booyah! You did it!</h1>
    <p class="lead">Want to learn how to build more with Foundation?</p>

    <a href="/learn?ref=learn" class="custom button expand">See More Lessons</a>

    <a href="https://twitter.com/intent/tweet?button_hashtag=tryfoundation&text=I%27m%20learning%20%40foundationzurb%20through%20interactive%20lessons%20thanks%20to" class="twitter-hashtag-button" data-size="large" data-related="tryfoundation" data-url="http://www.tryfoundation.io/learn?ref=twitter" data-dnt="true" class="twitter">Tweet #tryfoundation</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="fb-like" data-href="http://www.tryfoundation.io/" data-send="false" data-width="150" data-show-faces="true"></div>

    <a class="close-reveal-modal">&#215;</a>
</div>

{% include "partials/footer.html" %}

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    var checkDemo = function(contents) {
        if (($(contents).find('.button').length > 0 && $(contents).find('.button').text().length >= 1) ||
            ($(contents).find('button').length > 0 && $(contents).find('button').text().length >= 1)) {
            $('#landingModal').foundation('reveal', 'open');
        }
    };
</script>

{% endblock %}
