{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}<style type="text/css">li.lesson.disabled a { color: #CCC; }</style>{% endblock %}

{% block content %}

{% include 'partials/header_normal.html' %}

<div id="learn">
    <div class="row">
        <div class="large-12 columns">
            <h2>Foundation Lessons</h2>

            <div class="row">
            <div class="lesson-set small-3 columns">
                <h4>Buttons</h4>
                <ul class="side-nav">
                    {% if user.is_authenticated %}
                        {% for completion in button_completions %}
                            <li class="lesson">
                                <a href="/lesson/{{ completion.lesson.slug }}">
                                    {% if completion.completed %}
                                    <i class="icon-check"></i>
                                    {% else %}
                                    <i class="icon-check-empty"></i>
                                    {% endif %}
                                    {{ completion.lesson.name }}
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for lesson in button_lessons %}
                        <li class="lesson"><a href="/lesson/{{ lesson.slug }}"><i class="icon-check-empty"></i>{{ lesson.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>

            <div class="lesson-set small-3 columns">
                <h4>Components</h4>
                <ul class="side-nav">
                    {% if user.is_authenticated %}
                        {% for completion in component_completions %}
                            <li class="lesson">
                                <a href="/lesson/{{ completion.lesson.slug }}">
                                    {% if completion.completed %}
                                    <i class="icon-check"></i>
                                    {% else %}
                                    <i class="icon-check-empty"></i>
                                    {% endif %}
                                    {{ completion.lesson.name }}
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for lesson in component_lessons %}
                        <li class="lesson"><a href="/lesson/{{ lesson.slug }}"><i class="icon-check-empty"></i>{{ lesson.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>

            <div class="lesson-set small-3 columns">
                <h4>Navigation <small> Coming Soon!</small></h4>
                <ul class="side-nav">
                    <li class="lesson disabled"><a href="#"><!--i class="icon-check-empty"></i--> Top Bar</a></li>
                    <li class="lesson disabled"><a href="#"><!--i class="icon-check-empty"></i--> Side Nav</a></li>
                    <li class="lesson disabled"><a href="#"><!--i class="icon-check-empty"></i--> Sub Nav</a></li>
                    <li class="lesson disabled"><a href="#"><!--i class="icon-check-empty"></i--> Breadcrumbs</a></li>
                    <li class="lesson disabled"><a href="#"><!--i class="icon-check-empty"></i--> Pagination</a></li>
                </ul>
            </div>


            <div class="lesson-set small-3 columns">
                <h4>The Grid <small> Coming Soon!</small></h4>
                <ul class="side-nav">
                    <li class="lesson disabled"><a href="#"><!--i class="icon-check-empty"></i--> Rows &amp; Columns</a></li>
                    <li class="lesson disabled"><a href="#"><!--i class="icon-check-empty"></i--> Offsets &amp; Centering</a></li>
                    <li class="lesson disabled"><a href="#"><!--i class="icon-check-empty"></i--> Source Ordering</a></li>
                </ul>
            </div>
            </div>


            <h2>Foundation Projects</h2>


            <ul class="large-block-grid-4">

                <li>
                    <div class="lesson">
                        <h3>Landing Page</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}{% endblock %}
