{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

{% include 'partials/header_normal.html' %}

<div id="learn">
    <div class="row">
        <div class="large-12 columns">
            <h1>Buttons</h1>
            {% if user.is_authenticated %}
                {% for completion in button_completions %}
                    <a href="/lesson/{{ completion.lesson.slug }}" class="lesson {% if completion.completed %}completed{% endif %}">
                        <i class="foundicon-checkmark"></i>
                        <span class="title">{{ completion.lesson.title }}</span>
                    </a>
                {% endfor %}
            {% else %}
                {% for lesson in button_lessons %}
                    <a href="/lesson/{{ lesson.slug }}" class="lesson">
                        <i class="foundicon-checkmark"></i>
                        <span class="title">{{ lesson.title }}</span>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h1>Components</h1>
            {% if user.is_authenticated %}
                {% for completion in component_completions %}
                    <a href="/lesson/{{ completion.lesson.slug }}" class="lesson {% if completion.completed %}completed{% endif %}">
                        <i class="foundicon-checkmark"></i>
                        <span class="title">{{ completion.lesson.title }}</span>
                    </a>
                {% endfor %}
            {% else %}
                {% for lesson in component_lessons %}
                    <a href="/lesson/{{ lesson.slug }}" class="lesson">
                        <i class="foundicon-checkmark"></i>
                        <span class="title">{{ lesson.title }}</span>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h1>Navigation <small>Coming Soon!</small></h1>
            <a href="#" class="lesson disabled">
                <i class="foundicon-remove"></i>
                <span class="title">Top Bar</span>
            </a>
            <a href="#" class="lesson disabled">
                <i class="foundicon-remove"></i>
                <span class="title">Side Nav</span>
            </a>
            <a href="#" class="lesson disabled">
                <i class="foundicon-remove"></i>
                <span class="title">Sub Nav</span>
            </a>
            <a href="#" class="lesson disabled">
                <i class="foundicon-remove"></i>
                <span class="title">Bread<br/>crumbs</span>
            </a>
            <a href="#" class="lesson disabled">
                <i class="foundicon-remove"></i>
                <span class="title">Pagination</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h1>The Grid <small>Coming Soon!</small></h1>
            <a href="#" class="lesson disabled">
                <i class="foundicon-remove"></i>
                <span class="title">Rows &amp; Columns</span>
            </a>
            <a href="#" class="lesson disabled">
                <i class="foundicon-remove"></i>
                <span class="title">Offsets &amp; Centering</span>
            </a>
            <a href="#" class="lesson disabled">
                <i class="foundicon-remove"></i>
                <span class="title">Source Ordering</span>
            </a>
        </div>
    </div>
</div>

{% if not request.user.is_authenticated() %}

    {% if confirm %}
        <div id="confirm-modal" class="reveal-modal small">
            <h2>Let's learn Foundation</h2>
            <p class="lead">Create account to save progress</p>

            <form action="{% url confirm %}" method="post"> {% csrf_token %}
                <input type="email" name="email" value="{{email}}" readonly="readonly" required />
                <input type="password" name="password" placeholder="Password" required />
                <input type="submit" value="Submit" class="custom button expand" />
            </form>
        </div>
    {% endif %}

    {% if ref %}
        <div id="create-modal" class="reveal-modal medium">
            <h2>Interactive lessons to learn <span class="strong"><a href="http://foundation.zurb.com/?ref=tryfoundation" target="_blank">ZURB Foundation</a></span>*</h2>
            <p class="lead">Foundation is a popular front-end framework for coding HTML/CSS really fast. Sign up with your email to learn right now, completely free.</p>

            <form action="{% url create %}" method="post"> {% csrf_token %}
                <input type="email" name="email" placeholder="Email" required />
                <input type="password" name="password" placeholder="Password" required />
                <input type="submit" value="Submit" class="custom button expand" />
                <small class="mailCheck">* Not affiliated or endorsed by <a href="http://zurb.com/?ref=tryfoundation" target="_blank">ZURB</a>... yet...</small>
            </form>

            <a class="close-reveal-modal">&#215;</a>
        </div>
    {% endif %}

    <div id="social-modal" class="reveal-modal small">
        <h2>You're awesome.</h2>
        <p class="lead">Tell your friends you're going to master Foundation</p>

        <a href="https://twitter.com/intent/tweet?button_hashtag=tryfoundation&text=I%27m%20learning%20%40ZURB%20%40foundation%20through%20interactive%20lessons%20thanks%20to" class="twitter-hashtag-button" data-size="large" data-related="tryfoundation" data-url="http://www.tryfoundation.io/learn?ref=twitter" data-dnt="true" class="twitter">Tweet #tryfoundation</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <br/><br/>
        <div class="fb-like" data-href="http://www.tryfoundation.io/" data-send="false" data-width="340" data-show-faces="true"></div>

        <a class="close-reveal-modal">&#215;</a>
    </div>
{% endif %}

{% endblock %}

{% block javascript %}{% endblock %}
