{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div id="lesson">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="{% url index %}">Try Foundation</a></h1>
            </li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li class="has-form">
                    {% if request.user.is_authenticated() %}
                        <a href="{% url logout %}" class="button">Logout</a>
                    {% else %}
                        <a href="{% url login %}" class="button">Log In</a>
                    {% endif %}
                </li>
            </ul>
        </section>
    </nav>

    <div id="left">
        <div id="editor">{% include "code/buttons.html" %}</div>

        {% set awesomePhrase = ["I'm Awesome", "Foundation Rocks", "Next Lesson", "Quiz Me", "Booya!"]%}
        <a href="#" class="button" id="modalButton" data-reveal-id="quizModal">{{ awesomePhrase|random}}&nbsp;&nbsp;<i class="foundicon-right-arrow"></i></a>
    </div>

    <div id="right">
        <div id="preview-wrapper">
            <img src="{{ MEDIA_URL }}images/chrome-frame.png" id="chrome-frame" alt="chrome-frame">
            <iframe id="preview"></iframe>
        </div>

        <div id="content">
            <div class="section-container tabs" data-section="tabs">
                <section>
                    <p class="title" data-section-title><a href="#lesson">Lesson</a></p>
                    <div class="content" data-section-content>
                        {% include "lesson/buttons.html" %}
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title><a href="#examples">Examples</a></p>
                    <div class="content" data-section-content>
                        {% include "example/buttons.html" %}
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title><a href="#documentation">Documentation</a></p>
                    <div class="content" data-section-content>
                        {% include "documentation/buttons.html" %}
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>

<div id="quizModal" class="reveal-modal medium">
    <h2>Awesome. I have it.</h2>
    <p class="lead">Your couch.  It is mine.</p>
    <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
    <a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}

{% block javascript %}{% endblock %}