{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

{% include 'partials/header_code.html' %}

<div id="lesson">

    <div id="left">
        <div id="editor">{% include lesson.code_partial %}</div>

        <a href="#" class="button objective-check" data-reveal-id="objectiveModal">I'm Done&nbsp;&nbsp;<i class="foundicon-right-arrow"></i></a>
    </div>

    <div id="right">
        <div id="content">
            <div class="section-container tabs" data-section="tabs">
                <section>
                    <p class="title" data-section-title><a href="#lesson">Lesson</a></p>
                    <div class="content" data-section-content>
                        {% include lesson.lesson_partial %}
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title><a href="#examples">Examples</a></p>
                    <div class="content" data-section-content>
                        {% include lesson.example_partial %}
                    </div>
                </section>
            </div>
        </div>

        <div id="preview-wrapper">
            <img src="{{ MEDIA_URL }}images/chrome-frame.png" id="chrome-frame" alt="chrome-frame">
            <iframe id="preview"></iframe>
        </div>
    </div>

</div>

<div id="objectiveModal" class="reveal-modal medium">
    <div class="objective-success">
        <div class="row">
            <div class="large-12 columns">
                <h2>Awesome! You got it!</h2>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns"><a href="#" class="success button expand">Next Lesson</a></div>
            <div class="large-6 columns"><a href="{% url learn %}" class="secondary button expand">All Lessons</a></div>
        </div>
    </div>

    <div class="objective-failure">
        <div class="row">
            <div class="large-12 columns">
                <h2>Sorry, something seems off :(</h2>
                <p>Read the lesson and look through some of the examples for help.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns"><a href="#" class="custom button expand objective-retry">Keep Trying</a></div>
            <div class="large-6 columns"><a href="{% url learn %}" class="secondary button expand">All Lessons</a></div>
        </div>
    </div>

    <a class="close-reveal-modal">&#215;</a>
</div>


{#
<div id="quizModal" class="reveal-modal medium">
    {% include lesson.quiz_partial %}
</div>
#}

{% endblock %}

{% block javascript %}{% endblock %}