{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div id="lesson">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="{% url index %}">Try Foundation</a></h1>
            </li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li class="has-form">
                    {% if request.user.is_authenticated() %}
                        <a href="{% url logout %}" class="button">Logout</a>
                    {% else %}
                        <a href="{% url login %}" class="button">Log In</a>
                    {% endif %}
                </li>
            </ul>
        </section>
    </nav>

    <div id="left">
        {% set html = '<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="foundation.css" />
</head>
<body>

    <h1>Hello World!</h1>

</body>
</html>' %}


        <div id="editor">{{html}}</div>

    </div>

    <div id="right">
        <div id="preview-wrapper">
            <img src="{{ MEDIA_URL }}images/chrome-frame.png" id="chrome-frame" alt="chrome-frame">
            <iframe id="preview"></iframe>
        </div>

        <div id="content">
            <div class="section-container auto" data-section>
                <section>
                    <p class="title" data-section-title><a href="#panel1">Lesson</a></p>
                    <div class="content" data-section-content>
                        <p>Content of section 1.</p>
                        <!-- Size Classes -->
<a href="#" class="button">Default Button</a>
<a href="#" class="tiny button">Tiny Button</a>
<a href="#" class="small button">Small Button</a>
<a href="#" class="large button">Large Button</a>

<!-- Color Classes -->
<a href="#" class="button secondary">Secondary Button</a>
<a href="#" class="button success">Success Button</a>
<a href="#" class="button alert">Alert Button</a>

<!-- Radius Classes -->
<a href="#" class="button radius">Radius Button</a>
<a href="#" class="button round">Round Button</a>

<!-- Disabled Class -->
<a href="#" class="button disabled">Disabled Button</a>
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title><a href="#panel2">Examples</a></p>
                    <div class="content" data-section-content>
                        <p>Content of section 2.</p>
                    </div>
                </section>
                <section>
                    <p class="title" data-section-title><a href="#panel3">Documentation</a></p>
                    <div class="content" data-section-content>
                        <p>Content of section 2.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>


</div>

{% endblock %}

{% block javascript %}{% endblock %}