{% extends "base.html" %}
{% block title %}Log In - {{ super() }}{% endblock %}
{% block content %}

{% include 'partials/header_normal.html' %}

<div id="login" class="row">
    <div class="large-4 large-centered columns">
        <h1>Log in</h1>

        <form action="{% url login %}" method="post">{% csrf_token %}

            {% if msg %}
                <div id="login-msg">{{ msg }}</div>
            {% endif %}

            {{ form.as_ul()|safe }}
            <input type="hidden" name="next" value="{{ next }}" />
            <input class="custom button expand" type="submit" value="Log In" />

        </form>

    </div>
</div>

{% endblock %}